Options -MultiViews
RewriteEngine On

RewriteBase /cbs_projects/password_manager_clean

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]